.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: var(--base-spacing);
}

.grid {
  display: grid;
  gap: var(--base-spacing);
}

.col-12 { grid-column: span 12; }
.col-8 { grid-column: span 8; }
.col-4 { grid-column: span 4; }

@media (width >= 768px) {
  .grid { grid-template-columns: repeat(12, 1fr); }
}